.portfolio {
  background-color: #fff;
  padding: 130px 0 40px 0;
  padding-bottom: 60px;
}

.portfolio__info {
  padding: 15px 40px;
  background-color: #e4d9d9;
  border-radius: 15px;
}

.portfolio__title {
  color: #7d9cb6;
  margin-bottom: 25px;
}

.portfolio__descr {
  margin-bottom: 25px;
}

.portfolio__descr-rus {
  margin-bottom: 25px;
}

.portfolio__list:not(:last-child) {
  margin-bottom: 25px;
}

@media (max-width: 755px) {
  .portfolio {
    padding: 120px 0 20px 0;
  }
}